<%- include('../partials/header'); %>
<h2 class="shadow p-3 mb-5 bg-light rounded">My Journal</h2>
<table class="table table-striped">
  <thead class="thead-dark">
      <tr>
        <% if (workouts.length) { %>
          <th class="listproperties">WORKOUTS</th>
          <th class="listproperties">CREATED</th>
          <th class="listproperties">DETAILS</th>
          <th class="listproperties">LIKES</th>
          <th class="listproperties">DELETE</th>
      </tr>
    <% } %>
  </thead>
  <tbody>
      <% workouts.forEach(function(w) { %>
          <tr>
            <td class="listproperties"><%= w.name %></td>
            <td class="listproperties"><%= w.createdAt.toLocaleString() %></td>
              <form action="/workouts" method="POST">
                <td><a href="/workouts/<%= w._id %>">VIEW</a></td>
              </form>
            <td>
              <form action="" method="">
                <button type="submit" class="btn btn-outline-primary">Like</button>
              </form>
              <!-- Squid Print # of Likes -->
            </td>
            <td>
              <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">X</button>
              </form>
            </td>
          </tr>
      <% }) %>
  </tbody>
</table>
<br>
<form method="POST" action="/workouts">
  <div class="input-group">
    <input name="name" type="text" class="form-control" required="true" placeholder=" What Are You Calling Your New Workout?" aria-label="" aria-describedby="basic-addon1">
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-success elMargin" type="submit">Add Workout</button>
  </div>
</form>
<%- include('../partials/footer'); %>