<%- include('../partials/header'); %>
    <table class="table table-striped">

        <thead class="thead-dark">
            <tr>
                <% if (workout.exercises.length) { %>
                    <th>Exercise</th>
                    <th>Details</th>
                    <th>Likes</th>
                    <th>Delete</th>
            </tr>
            <% } %>
        </thead>









        <tbody>
            <% workout.exercises.forEach(function(ex, idx) { %>
            <tr>
                <td><%= ex.name %></td>
                    <form action="/exercises/<%= workout._id %>/<%= idx %>" method="GET">
                        <td><a href="/exercises/<%= workout._id %>/<%= idx %>">DETAILS</a></td>
                    </form>
                <td># of Likes</td>
                <td>
                    <form action="/exercises/<%= workout._id %>/<%= idx %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-outline-danger">X</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>






        
    </table>
    <br>
    <form method="GET" action="/workouts/<%= workout._id %>/exercises/new">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Add Exercise</button>
        </div>
    </form>
<%- include('../partials/footer'); %>




