<%- include('../partials/header'); %>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="listproperties"><%= workout.exercises[idx].name.toUpperCase() %></th>
                <th></th>          
            </tr>
        </thead>
            <% if (workout.exercises[idx].weight) { %>
                <tr>
                    <th class="listproperties" scope="row">Weight: <%= workout.exercises[idx].weight %> Lbs</th>
                    <td></td>
                </tr>
            <% } else { %>
                <tr>
                    <th class="listproperties" scope="row">Body Weight</th>
                    <td></td>
                </tr>
            <% } %>
        <tr>
            <th class="listproperties" scope="row">Sets: <%= workout.exercises[idx].sets %></th>
            <td></td>
        </tr>
        <tr>
            <th class="listproperties" scope="row">Reps: <%= workout.exercises[idx].reps %></th>
            <td></td>
        </tr>
        <tr>
            <th class="listproperties" scope="row">Rep Volume: <%= workout.exercises[idx].reps * workout.exercises[idx].sets %></th>
            <td></td>
        </tr>
        <% if (workout.exercises[idx].weight) { %>
            <tr>
                <th class="listproperties" scope="row">Weight Volume: <%= workout.exercises[idx].weight * workout.exercises[idx].reps * workout.exercises[idx].sets %> Lbs</th>
                <td></td>
            </tr>
            <% } %>
        <% if (workout.exercises[idx].link) {%>
            <tr>
                <th class="listproperties" scope="row">Demo: <a href="<%= workout.exercises[idx].link %>" target="_blank">Watch It</a></th>
                <td></td>
            </tr>
        <% } %>

        </tbody>
    </table>
    <form method="GET" action="/exercises/<%= workout._id %>/<%= idx %>/edit">
        <div class="input-group-append">
            <button class="btn btn-outline-success elMargin" type="submit">Edit Exercise</button>
        </div>
    </form>
<%- include('../partials/footer'); %>

    
    
    
    
    
    
    
    








   